#next-button{
    text-decoration: none;
    cursor: pointer;
    background-color: blue;
    color: white;
    padding: 10px;
    margin-top: 50px;
    border-radius: 25px;
    font-weight: bold;
}

#next-button:hover{
    background-color: #7192BE;
    color: black;
  }

#kosar-tartalma{
    padding: 25px;
}

.kosar-tartalma-nev{
    margin-left: 40px;
    width: 250px;
    display: inline-block;
}

.kosar-tartalma-ar{
    display: inline;
    font-weight: bold;
    margin-left: 120px;
}

#kosar-tartalma-osszesen{
    margin-left: 170px;
}

input{
    color: black;
}

#elso{
    
    font-style: italic;
    margin-bottom: auto;
    text-align:  center;
    font-size: 30px;
}

.masodik
{
    background-color: #99738E;
    color:#ffffff;
    font-family: 'Lobster', cursive;
    font-style: italic;
    padding: 0.3rem;
    padding-left: 2rem;
    text-align: left;
    margin-top: 25px;
    font-size: 1.5vw;
}

.kiemeles {color:rgb(255, 2, 2);}

#rendeles-megjegyzes{
    border-color: rgb(194, 188, 188);
    height:8rem;
    width: 50rem;
    margin-left: 2rem;
    padding-left: 0.5rem;
    padding-top: auto;
}

textarea{
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
  color: black;
  margin-bottom: 20px;
}

.termek
{
    font-weight: bold;
    font-size: 15px;
    margin-left: 2rem;
    width:25rem;
    float: left;
}

.db
{
    font-weight: bold;
    font-size: 15px;
    float: left;
    width:25rem;
}

.ossz
{
    font-weight: bold;
    font-size: 15px;
    margin-right: 2rem;   
}

hr{
    margin-left: 2rem;
    margin-right: 2rem;
}

#delete-button{
    border: none;
    transition: 0.3s all;
    background-color: #7F2CCB;
    padding: 20px;
    margin-right: 15px;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 100px;
}

#delete-button:hover{
    font-size: 15px;
}
